extends ../layouts/default

block content
	section.campaign-intro
		section#js-campaign-copy.jumbotron.col-xs-12.col-md-6
			.campaign-wrap
				h1 #{page.title}
				p #{page.body}
		.col-xs-12.col-md-6.video-slider-container
			div.video-slider
				each video in page.videos
					div
						a(href='#')
							.embed-responsive.embed-responsive-16by9.hover-media
								iframe.embed-responsive-item(src='#{video.videoUrl}')
								.overlay
									p #{page.title}

		include ../includes/pre-footer.jade
