//  ==========================================================================
//  Variables
//  ==========================================================================

//  Using /// is for SassDoc annotations
//  This file contains the overrides for Bootstrap as well as
//  any variables we set ourselves.

//  Colors
//  ==========================================================================
$black: #141414;
$white: #FFFFFF;
$gray:  #E4E4E4;

// Base font size
$base-font-size: 16px;

// Line Height
$base-line-height: 1.428;