#slider-section
	section#example-1.slide.active one
	section#example-2.slide.active two
	section#example-3.slide.active three
	section#example-4.slide.active four
	aside.v-components
		.section-1.right-side four
		.section-2.right-side three
		.section-3.right-side two
		.section-4.right-side one