.pre-footer-wrap.col-xs-12
    .container
        .row
            h3 A sweet title goes here.
                .col-sm-4.col-md-4.card
                    .inner-wrap
                        img(src='../assets/images/read.jpg')
                        a.card-bottom(href='#')
                        p
                        | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
                        p.card-link Learn More
                .col-sm-4.col-md-4.card
                    .inner-wrap
                        img(src='../assets/images/read.jpg')
                        a.card-bottom(href='#')
                        p
                        | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
                        p.card-link Learn More
                .col-sm-4.col-md-4.card
                    .inner-wrap
                        img(src='../assets/images/read.jpg')
                        a.card-bottom(href='#')
                        p
                        | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
                        p.card-link Learn More