.col-xs-12.v-description-section
    .container
        .row
            h2 The Section Title goes Here
            ul.v-desc-wrapper
                if vs.length
                    each v in vs
                        a(href="/v/#{v.slug}")
                            li.col-sm-6.col-md-4.col-lg-3
                                h4 #{v.title}
                                p #{v.excerpt}
                                span.v-color(style='background-color: #{v.color};')