//  ==========================================================================
//  Global Layout-esque Settings
//  ==========================================================================

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  width: 100%;
}

li {
	list-style: none;
}

img{
	max-width: 100%;
}

ul {
	padding: 0;
}

// input placeholder styling
::-webkit-input-placeholder {
   color: $white;
}

:-moz-placeholder { /* Firefox 18- */
   color: $white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $white;  
}

:-ms-input-placeholder {  
   color: $white;  
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

.btn-hollow {
  background: transparent;
  border: 2px solid white;
  border-radius: 0;
  color: $white;
  @include transition(0.25s ease);

  &:hover {
    color: $black;
    background: $white;
    border: 2px solid white;
    @include transition(0.25s ease);
  }
}
// html { overflow-y: scroll; }
// body { overflow-x: hidden; }
