.v-description-section {
	background-color: $black;
	padding-top: 60px;
	padding-bottom: 60px;
	color: $white;

	h2 {
		text-align: center;
	}
}

.v-desc-wrapper {
	margin: 50px 0;
	li {
		position: relative;
		margin: 25px 0;
	}
	a {
		color: $white;
		@include transition(0.25s);
		&:hover {
			color: darken($white, 10%);
			@include transition(0.25s);
		}
	}
}

.v-color {
	position: absolute;
	bottom: -12px;
	left: 15px;
	width: 60px;
	height: 3px;
}